---
layout: default
title: Absalon Kirkeby
htmlClass: html
bodyClass: body
---

<div>hello</div>
<a href="mailto:mail@absalonkirkeby.org"><img src="absalonkirkeby.jpg" alt="Absalon Kirkeby" width="225" height="225" border="0"></a>
{% image "https://www.11ty.dev/img/possum-balloon-original.png", "The possum is Eleventy’s mascot" %}
